<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">

		<stats number="6" comments="New comments!" colour="primary"
			type="comments" goto="app.private.buttons"></stats>
		<stats number="12" comments="Forms" colour="primary"
			type="pencil-square-o" goto="app.private.form"></stats>
		<stats number="18" comments="Charts!" colour="yellow"
			type="area-chart " goto="app.private.chart"></stats>
		<stats number="24" comments="Tables!" colour="red" type="table"
			goto="app.private.table"></stats>

	</div>

	<!-- /.panel -->
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline {{}}
				</div>
				<!-- /.panel-heading -->
				<timeline></timeline>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bell fa-fw"></i> Notifications Panel
				</div>
				<!-- /.panel-heading -->
				<notifications></notifications>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->

			<chat></chat>
			<!-- /.panel .chat-panel -->
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->
</div>
