<table class="table">
	<thead>
		<tr>
			<th colspan="2">Pessoa</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="(field, dado) in getInformacoesPessoa(pessoa)">
			<td>{{field}}</td>
			<td>{{dado}}</td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">Contato</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="(field, dado) in pessoa.contato">
			<td>{{field}}</td>
			<td>{{dado}}</td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">Endereço</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="(field, dado) in pessoa.endereco">
			<td>{{field}}</td>
			<td>{{dado}}</td>
		</tr>
	</tbody>
</table>